body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

#login, #chat {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#login input[type="text"],
#form input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 80px);
    margin-right: 10px;
}

#login button,
#form button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#chat {
    display: none;
}

#messages {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#messages li {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

#messages li:nth-child(odd) {
    background-color: #f1f1f1;
}

#form {
    margin-top: 20px;
}

#form input[type="text"] {
    width: calc(100% - 70px);
}

#form button {
    width: 60px;
}
